.card {
    width: 40%;
    height: 300px;
    border: none;
    border-radius: 15px;
    box-shadow: 15px gray;
    margin: 30px;
    & a{
        color: $colour-black;
        text-decoration:none; 
    }
    & img{
        width: 100%;
        height:100%;
        border-radius:15px 15px 0 0 ;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    & p{
        font-size: medium;
        font-weight: normal;
        & strong {
        font-size: medium;
        font-weight: bold;
    }
}
    @media (max-width:$break-point) {
        width: 97%;
        margin-left: 0;
    }
}
.card-link{
    display: block; 
    position: relative;
 }